.login{
   
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover ;
    font-family: 'Merriweather', serif;
    background-image: url(login.jpeg);
}

.loginTitle{
    font-size: 60px;  
    color: rgb(0, 0, 0);
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0;
    color: rgb(0, 0, 0);
    font-size: 25px;
   
  }

.loginInput{
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0); 
    border: none;
    background-color: transparent;
    font-size: 28px;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.loginInput:focus {
    outline: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    width: 120px;
    height: 50px;
    padding: 10px;
    border: black;
    border-radius: 10px;
    align-self: center;
    font-size: 20px;  
}

button.loginButton:hover{
    border-color: #0300c2;
    color:rgb(23, 124, 255);
}

.loginRegisterButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    width: 120px;
    height: 50px;
    padding: 10px;
    border: black;
    border-radius: 10px;
    align-self: center;
    font-size: 20px; 
}

button.loginRegisterButton:hover{
    border-color: #0300c2;
    color:rgb(23, 124, 255);
}